@import './utilities.scss';

.bookmark {
    @extend .c-white;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    font-size: 18px;

    &:hover {
        background-color: white;
        @extend .c-darkblue;
        cursor: pointer;
    }
}

.contentInfo {
    >p:nth-of-type(1) {
        color: hsl(0, 0%, 80%);
        margin-bottom: 5px;
        margin-top: 5px;
        @extend .body-S;
    }

    >p:nth-of-type(2) {
        @extend .c-white;
        @extend .heading-XS;
    }
}

.contentThumbnail {
    width: 100%;
    min-height: 175px;
    border-radius: 8px;

    &:hover {
        cursor: pointer;
    }
}

.wideItem {
    flex-shrink: 0;
    border-radius: 8px;
    position: relative;

    &:hover {
        cursor: pointer;
    }

    .contentThumbnail {
        width: 470px;
        height: 230px;
    }

    .contentInfo {
        position: absolute;
        bottom: 20px;
        left: 20px;

        >p:nth-of-type(1) {
            color: hsl(0, 0%, 80%);
            margin-bottom: 5px;
        }

        >p:nth-of-type(2) {
            @extend .c-white;
            @extend .heading-S;
        }
    }
}

.contentItem {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    min-width: 280px;
    user-select: none;
    margin-bottom: 30px;

    &:hover {
        cursor: pointer;
    }
}

@media(max-width: 1300px) {
    .contentItem {
        min-width: 220px;
    }
}

@media(max-width: 800px) {
    .wideItem {
        width: 240px;
        height: 140px;
        overflow: hidden;

        .contentThumbnail {
            width: 100%;
            height: 100%;
        }

        .contentInfo {
            >p:nth-of-type(1) {
                font-size: 12px;
                margin: 0;
            }

            >p:nth-of-type(2) {
                font-size: 15px;
                line-height: 20px;
            }
        }
    }
    .contentItem {
        min-width: 164px;
    }
}