.heading-XL {
  font-weight: 200px;
  font-size: 56px;
  line-height: 60px;
}

.heading-L {
  font-weight: 300;
  font-size: 32px;
  line-height: 40.32px;
}

.heading-M {
  font-weight: 300;
  font-size: 24px;
  line-height: 30.24px;
}

.heading-S, .wideItem .contentInfo > p:nth-of-type(2) {
  font-weight: 500;
  font-size: 24px;
  line-height: 30.24px;
}

.heading-XS, .contentInfo > p:nth-of-type(2) {
  font-weight: 500;
  font-size: 18px;
  line-height: 22.68px;
}

.body-M {
  font-weight: 300;
  font-size: 15px;
  line-height: 18.9px;
}

.body-S, .input.error::after, .contentInfo > p:nth-of-type(1) {
  font-weight: 300;
  font-size: 13px;
  line-height: 16.38px;
}

.c-red, .input.error::after {
  color: var(--red);
}

.bg-red, .button {
  background-color: var(--red);
}

.c-darkblue, .bookmark:hover {
  color: var(--darkblue);
}

.bg-darkblue {
  background-color: var(--darkblue);
}

.c-fadedgrey, .input::-webkit-input-placeholder, .search::-webkit-input-placeholder {
  color: var(--fadedgrey);
}

.c-fadedgrey, .input:-ms-input-placeholder, .search:-ms-input-placeholder {
  color: var(--fadedgrey);
}

.c-fadedgrey, .input::-ms-input-placeholder, .search::-ms-input-placeholder {
  color: var(--fadedgrey);
}

.c-fadedgrey, .input::placeholder, .search::placeholder {
  color: var(--fadedgrey);
}

.bg-fadedgrey {
  background-color: var(--fadedgrey);
}

.c-greyblue {
  color: var(--greyblue);
}

.bg-greyblue {
  background-color: var(--greyblue);
}

.c-semidarkblue, .button:hover {
  color: var(--semidarkblue);
}

.bg-semidarkblue {
  background-color: var(--semidarkblue);
}

.c-white, .button, .input, .search, .bookmark, .contentInfo > p:nth-of-type(2), .wideItem .contentInfo > p:nth-of-type(2) {
  color: #ffffff;
}

.bg-white, .button:hover {
  background-color: #ffffff;
}

.button {
  border-radius: 6px;
  border: none;
  -webkit-transition: background-color 0.1s linear, color 0.1s linear;
  transition: background-color 0.1s linear, color 0.1s linear;
}

.button:hover {
  -webkit-transition: background-color 0.1s linear, color 0.1s linear;
  transition: background-color 0.1s linear, color 0.1s linear;
  cursor: pointer;
}

.input {
  caret-color: var(--red);
  border-bottom: 1px var(--greyblue) solid;
  position: relative;
}

.input:focus {
  border-bottom: 1px white solid;
}

.input.error {
  border-bottom: 1px var(--red) solid;
}

.input.error::after {
  content: "Can't be empty";
  position: absolute;
  right: -20px;
}

.search {
  background-color: inherit;
  caret-color: var(--red);
  border: none;
  outline: none;
  width: 100%;
}

.search:focus {
  border-bottom: 1px var(--greyblue) solid;
}

.search:hover {
  cursor: pointer;
}

.bookmark {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  border: none;
  font-size: 18px;
}

.bookmark:hover {
  background-color: white;
  cursor: pointer;
}

.contentInfo > p:nth-of-type(1) {
  color: #cccccc;
  margin-bottom: 5px;
  margin-top: 5px;
}

.contentThumbnail {
  width: 100%;
  min-height: 175px;
  border-radius: 8px;
}

.contentThumbnail:hover {
  cursor: pointer;
}

.wideItem {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 8px;
  position: relative;
}

.wideItem:hover {
  cursor: pointer;
}

.wideItem .contentThumbnail {
  width: 470px;
  height: 230px;
}

.wideItem .contentInfo {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.wideItem .contentInfo > p:nth-of-type(1) {
  color: #cccccc;
  margin-bottom: 5px;
}

.contentItem {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 280px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.contentItem:hover {
  cursor: pointer;
}

@media (max-width: 1300px) {
  .content-item {
    min-width: 220px;
  }
}

@media (max-width: 800px) {
  .wideItem {
    width: 240px;
    height: 140px;
    overflow: hidden;
  }
  .wideItem .contentThumbnail {
    width: 100%;
    height: 100%;
  }
  .wideItem .contentInfo > p:nth-of-type(1) {
    font-size: 12px;
    margin: 0;
  }
  .wideItem .contentInfo > p:nth-of-type(2) {
    font-size: 15px;
    line-height: 20px;
  }
  .content-item {
    min-width: 164px;
  }
}
/*# sourceMappingURL=CollectionItem.module.css.map */