.heading-XL {
  font-weight: 200px;
  font-size: 56px;
  line-height: 60px;
}

.heading-L {
  font-weight: 300;
  font-size: 32px;
  line-height: 40.32px;
}

.heading-M, .genreItem {
  font-weight: 300;
  font-size: 24px;
  line-height: 30.24px;
}

.heading-S {
  font-weight: 500;
  font-size: 24px;
  line-height: 30.24px;
}

.heading-XS {
  font-weight: 500;
  font-size: 18px;
  line-height: 22.68px;
}

.body-M {
  font-weight: 300;
  font-size: 15px;
  line-height: 18.9px;
}

.body-S, .input.error::after {
  font-weight: 300;
  font-size: 13px;
  line-height: 16.38px;
}

.c-red, .input.error::after {
  color: var(--red);
}

.bg-red, .button {
  background-color: var(--red);
}

.c-darkblue {
  color: var(--darkblue);
}

.bg-darkblue {
  background-color: var(--darkblue);
}

.c-fadedgrey, .input::-webkit-input-placeholder, .search::-webkit-input-placeholder {
  color: var(--fadedgrey);
}

.c-fadedgrey, .input:-ms-input-placeholder, .search:-ms-input-placeholder {
  color: var(--fadedgrey);
}

.c-fadedgrey, .input::-ms-input-placeholder, .search::-ms-input-placeholder {
  color: var(--fadedgrey);
}

.c-fadedgrey, .input::placeholder, .search::placeholder {
  color: var(--fadedgrey);
}

.bg-fadedgrey {
  background-color: var(--fadedgrey);
}

.c-greyblue {
  color: var(--greyblue);
}

.bg-greyblue, .genreItem {
  background-color: var(--greyblue);
}

.c-semidarkblue, .button:hover {
  color: var(--semidarkblue);
}

.bg-semidarkblue {
  background-color: var(--semidarkblue);
}

.c-white, .button, .input, .search, .genreItem {
  color: #ffffff;
}

.bg-white, .button:hover {
  background-color: #ffffff;
}

.button {
  border-radius: 6px;
  border: none;
  -webkit-transition: background-color 0.1s linear, color 0.1s linear;
  transition: background-color 0.1s linear, color 0.1s linear;
}

.button:hover {
  -webkit-transition: background-color 0.1s linear, color 0.1s linear;
  transition: background-color 0.1s linear, color 0.1s linear;
  cursor: pointer;
}

.input {
  caret-color: var(--red);
  border-bottom: 1px var(--greyblue) solid;
  position: relative;
}

.input:focus {
  border-bottom: 1px white solid;
}

.input.error {
  border-bottom: 1px var(--red) solid;
}

.input.error::after {
  content: "Can't be empty";
  position: absolute;
  right: -20px;
}

.search {
  background-color: inherit;
  caret-color: var(--red);
  border: none;
  outline: none;
  width: 100%;
}

.search:focus {
  border-bottom: 1px var(--greyblue) solid;
}

.search:hover {
  cursor: pointer;
}

.back-button {
  width: 100px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
}

.genreList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.genreItem {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 220px;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.genreItem:hover {
  cursor: pointer;
}
/*# sourceMappingURL=GenreList.module.css.map */