@import "utilities.scss";


.navbar {
    @extend .c-white;
    @extend .bg-semidarkblue;
    position: fixed;
    border-radius: 20px;
    width: 100px;
    height: 90vh;
    margin: 30px;
    margin-top: 0px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &>div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    z-index: 100;
}

.logo {
    position: relative;
    width: 35px;
    height: 35px;
    &:hover {
        cursor: pointer;
    }
}

.icons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    img {
        width: 20px;
        height: 20px;
    }
}

.icon{
    &.active {
        path {
            fill: white;
        }
    }
    &:hover {
        cursor: pointer;
        path {
            fill: var(--red);
        }
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px white solid;
    cursor: pointer;
}

@media(max-width: 1300px) {
    .navbar {
        margin: 0px;
        padding: 0px;
        margin-top: 20px;
        width: calc(100% - 50px);
        height: 72px;
        flex-direction: row;
        justify-content: space-around;
        border-radius: 10px;
        &>div {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    .icons {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
}

@media(max-width: 600px) {
    .navbar {
        height: 56px;
        width: 100%;
        border-radius: 0px;
    }
}
