@import './utilities.scss';

.paginator {
    align-self: center;
    display: flex;
    align-items: center;

    p {
        @extend .bg-white;
        @extend .c-darkblue;
        @extend .heading-XS;
        border-top: 2px white solid;
        border-bottom: 2px white solid;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 5px;
        user-select: none;
    }

    a {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-width: 2px;
        border-radius: 10px;
        border-style: solid;
        border-color: white;
        padding: 10px;
        @extend .heading-XS;
        @extend .bg-darkblue;
        @extend .c-white;
        transition: color 0.1s linear, background-color 0.1s linear;
        user-select: none;

        &:hover {
            cursor: pointer;
            @extend .bg-white;
            @extend .c-darkblue;
        }

        &:nth-of-type(1) {
            border-right: 0px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        &:nth-of-type(2) {
            border-left: 0px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }
}