.heading-XL {
  font-weight: 200px;
  font-size: 56px;
  line-height: 60px;
}

.heading-L, .error_404 {
  font-weight: 300;
  font-size: 32px;
  line-height: 40.32px;
}

.heading-M, .genre-item, .provider-category {
  font-weight: 300;
  font-size: 24px;
  line-height: 30.24px;
}

.heading-S, .wide-item .content-info > p:nth-of-type(2), .provider-string {
  font-weight: 500;
  font-size: 24px;
  line-height: 30.24px;
}

.heading-XS, .content-info > p:nth-of-type(2), .providers-display > p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22.68px;
}

.body-M {
  font-weight: 300;
  font-size: 15px;
  line-height: 18.9px;
}

.body-S, .input.error::after, .content-info > p:nth-of-type(1) {
  font-weight: 300;
  font-size: 13px;
  line-height: 16.38px;
}

.c-red, .input.error::after {
  color: var(--red);
}

.bg-red, .button, .actor {
  background-color: var(--red);
}

.c-darkblue {
  color: var(--darkblue);
}

.bg-darkblue {
  background-color: var(--darkblue);
}

.c-fadedgrey, .input::-webkit-input-placeholder, .search::-webkit-input-placeholder {
  color: var(--fadedgrey);
}

.c-fadedgrey, .input:-ms-input-placeholder, .search:-ms-input-placeholder {
  color: var(--fadedgrey);
}

.c-fadedgrey, .input::-ms-input-placeholder, .search::-ms-input-placeholder {
  color: var(--fadedgrey);
}

.c-fadedgrey, .input::placeholder, .search::placeholder {
  color: var(--fadedgrey);
}

.bg-fadedgrey {
  background-color: var(--fadedgrey);
}

.c-greyblue {
  color: var(--greyblue);
}

.bg-greyblue, .genre-item {
  background-color: var(--greyblue);
}

.c-semidarkblue, .button:hover {
  color: var(--semidarkblue);
}

.bg-semidarkblue {
  background-color: var(--semidarkblue);
}

.c-white, .button, .input, .search, .wide-item .content-info > p:nth-of-type(2), .content-info > p:nth-of-type(2), .error_404, .actor, .genre-item, .cast-member, .providers-display > p, .provider-string, .provider-category, .provider {
  color: #ffffff;
}

.bg-white, .button:hover {
  background-color: #ffffff;
}

.button {
  border-radius: 6px;
  border: none;
  -webkit-transition: background-color 0.1s linear, color 0.1s linear;
  transition: background-color 0.1s linear, color 0.1s linear;
}

.button:hover {
  -webkit-transition: background-color 0.1s linear, color 0.1s linear;
  transition: background-color 0.1s linear, color 0.1s linear;
  cursor: pointer;
}

.input {
  caret-color: var(--red);
  border-bottom: 1px var(--greyblue) solid;
  position: relative;
}

.input:focus {
  border-bottom: 1px white solid;
}

.input.error {
  border-bottom: 1px var(--red) solid;
}

.input.error::after {
  content: "Can't be empty";
  position: absolute;
  right: -20px;
}

.search {
  background-color: inherit;
  caret-color: var(--red);
  border: none;
  outline: none;
  width: 100%;
}

.search:focus {
  border-bottom: 1px var(--greyblue) solid;
}

.search:hover {
  cursor: pointer;
}

.search-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  padding-left: 0px;
}

.search-wrapper img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.search-button {
  width: 100px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-left: 20px;
}

.back-button {
  width: 100px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.wide-list {
  height: 230px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}

.wide-list::-webkit-scrollbar {
  display: none;
}

.wide-item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 470px;
  height: 230px;
  border-radius: 8px;
  position: relative;
}

.wide-item .bookmark {
  position: absolute;
  top: 20px;
  right: 20px;
}

.wide-item:hover {
  cursor: pointer;
}

.wide-item .content-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.wide-item .content-info > p:nth-of-type(1) {
  color: #cccccc;
  margin-bottom: 5px;
}

.content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  padding-top: 10px;
  margin-bottom: 50px;
}

.content-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  min-width: 280px;
  height: 225px;
  margin-bottom: 30px;
}

.content-thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.content-thumbnail:hover {
  cursor: pointer;
}

.content-info > p:nth-of-type(1) {
  color: #cccccc;
  margin-bottom: 5px;
  margin-top: 5px;
}

.error_404 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  padding-bottom: 200px;
  padding-top: 100px;
}

.error_404 .button {
  width: 150px;
  padding: 10px;
}

.details-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.details-thumbnail {
  width: 50%;
  height: 500px;
  border-radius: 10px;
}

.details-info {
  width: 50%;
  height: 400px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}

.actors-list {
  padding: 10px;
  line-height: 20px;
}

.actor {
  display: inline-block;
  line-height: 15px;
  border-radius: 5px;
  margin: 5px;
  border: 1px white solid;
  padding: 2px 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.actor:hover {
  cursor: pointer;
}

.genre-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.genre-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 200px;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.genre-item:hover {
  cursor: pointer;
}

.details {
  width: 100%;
  padding: 20px;
  padding-top: 0px;
}

.details p {
  padding: 5px;
  padding-left: 0px;
}

.details > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  padding-left: 0px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 20px;
}

.details-stats {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  width: 60%;
  max-width: 60%;
  padding-left: 20px;
}

.details-stats > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.cast-member {
  display: inline-block;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: white 1px solid;
  border-radius: 5px;
  padding: 2px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.cast-member:hover {
  cursor: pointer;
}

.poster-wrapper {
  width: 30%;
  min-width: 300px;
  height: 500px;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.providers-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 25px;
  max-width: 45%;
}

.providers-display > p {
  margin-bottom: 5px;
}

.provider-category:first-letter {
  text-transform: uppercase;
}

.provider-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin: 10px 0px;
}

.provider {
  border-radius: 10px;
  border: 1px white solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  width: 138px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.provider:hover {
  cursor: pointer;
}

.provider p {
  font-size: 14px;
}

.video-wrapper {
  position: relative;
  overflow: hidden;
  width: 560px;
  height: 320px;
  max-width: 90vw;
  max-height: 50.725vw;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1300px) {
  .content-list {
    gap: 30px;
  }
  .content-item {
    min-width: 220px;
  }
  .details {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
  }
}

@media (max-width: 600px) {
  .details {
    padding-top: 30px;
  }
}

@media (max-width: 800px) {
  .search-wrapper {
    margin-top: 20px;
  }
  .search-button {
    display: none;
  }
  .wide-list {
    height: 140px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .wide-item {
    width: 240px;
    height: 100%;
    background-size: auto;
  }
  .wide-item .content-info > p:nth-of-type(1) {
    font-size: 12px;
    margin: 0;
  }
  .wide-item .content-info > p:nth-of-type(2) {
    font-size: 15px;
    line-height: 20px;
  }
  .content-item {
    min-width: 164px;
  }
  .error_404 {
    font-size: 30px;
  }
}
/*# sourceMappingURL=styles.css.map */