@import "utilities.scss";

.search-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    padding-left: 0px;

    img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }
}

.search-button {
    width: 100px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-left: 20px;
}

.back-button {
    width: 100px;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.wide-list {
    height: 230px;
    flex-shrink: 0;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.wide-item {
    // min-width: 300px;
    flex-shrink: 0;
    width: 470px;
    height: 230px;
    // min-height: 230px;
    border-radius: 8px;
    position: relative;

    .bookmark {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    &:hover {
        cursor: pointer;
    }

    .content-info {
        position: absolute;
        bottom: 20px;
        left: 20px;

        >p:nth-of-type(1) {
            color: hsl(0, 0%, 80%);
            margin-bottom: 5px;
        }

        >p:nth-of-type(2) {
            @extend .c-white;
            @extend .heading-S;
        }
    }
}

.content-list {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 10px;
    margin-bottom: 50px;
}

.content-item {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    min-width: 280px;
    // height: 175px;
    height: 225px;
    margin-bottom: 30px;
}

.content-thumbnail {
    width: 100%;
    height: 100%;
    border-radius: 8px;

    &:hover {
        cursor: pointer;
    }
}

.content-info {
    >p:nth-of-type(1) {
        color: hsl(0, 0%, 80%);
        margin-bottom: 5px;
        margin-top: 5px;
        @extend .body-S;
    }

    >p:nth-of-type(2) {
        @extend .c-white;
        @extend .heading-XS;
    }
}

.error_404 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @extend .heading-L;
    @extend .c-white;
    font-size: 40px;
    padding-bottom: 200px;
    padding-top: 100px;

    .button {
        width: 150px;
        padding: 10px;
    }
}

.details-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.details-thumbnail {
    width: 50%;
    height: 500px;
    border-radius: 10px;
}

.details-info {
    width: 50%;
    height: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.actors-list {
    padding: 10px;
    line-height: 20px;
}

.actor {
    display: inline-block;
    line-height: 15px;
    @extend .bg-red;
    @extend .c-white;
    border-radius: 5px;
    margin: 5px;
    border: 1px white solid;
    padding: 2px 5px;
    user-select: none;

    &:hover {
        cursor: pointer;
    }
}

.genre-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.genre-item {
    flex-grow: 1;
    min-width: 200px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend .bg-greyblue;
    @extend .c-white;
    @extend .heading-M;
    flex-basis: 200px;
    border-radius: 10px;
    user-select: none;

    &:hover {
        cursor: pointer;
    }
}

.details {
    width: 100%;
    padding: 20px;
    padding-top: 0px;
}

.details-stats>p {
    padding: 5px;
    padding-left: 0px;
}

.details>div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
    padding-left: 0px;
    justify-content: flex-start;
    gap: 20px;
}

.details-stats {
    flex-grow: 0;
    flex-shrink: 1;
    width: 60%;
    max-width: 60%;
    padding-left: 20px;

    >div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
}

.cast-member {
    display: inline-block;
    white-space: nowrap;
    @extend .c-white;
    user-select: none;
    border: white 1px solid;
    border-radius: 5px;
    padding: 2px;
    margin-right: 5px;
    margin-bottom: 5px;

    &:hover {
        cursor: pointer;
    }
}

.poster-wrapper {
    width: 30%;
    min-width: 300px;
    height: 500px;
    position: relative;
    flex-shrink: 0;
}

.providers-display {
    display: flex;
    flex-direction: column;
    padding: 0px 25px;
    max-width: 45%;

    >p {
        margin-bottom: 5px;
        @extend .c-white;
        @extend .heading-XS;
    }
}

.provider-string {
    @extend .c-white;
    @extend .heading-S;
}

.provider-category {
    @extend .heading-M;
    @extend .c-white;

    &:first-letter {
        text-transform: uppercase;
    }
}

.provider-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px 0px;
}

.provider {
    @extend .c-white;
    border-radius: 10px;
    border: 1px white solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 138px;
    user-select: none;

    &:hover {
        cursor: pointer;
    }

    p {
        font-size: 14px;
    }
}

.video-wrapper {
    position: relative;
    overflow: hidden;
    width: 560px;
    height: 320px;
    max-width: 90vw;
    max-height: 50.725vw;
    // padding-top: 56.25%;
    // /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}


@media(max-width: 1300px) {
    .content-list {
        gap: 30px;
    }

    .content-item {
        min-width: 220px;
    }

    .details {
        padding-left: 0;
        padding-right: 0;
        padding-top: 20px;
    }
}

@media(max-width: 600px) {
    .details {
        padding-top: 30px;
    }
}

@media(max-width: 800px) {
    .search-wrapper {
        margin-top: 20px;
    }

    .search-button {
        display: none;
    }

    .wide-list {
        height: 140px;
        padding: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .wide-item {
        width: 240px;
        height: 100%;
        background-size: auto;

        .content-info {
            >p:nth-of-type(1) {
                font-size: 12px;
                margin: 0;
            }

            >p:nth-of-type(2) {
                font-size: 15px;
                line-height: 20px;
            }
        }
    }

    .content-item {
        min-width: 164px;
    }

    .error_404 {
        font-size: 30px;
    }

    .details-stats {
        width: unset;
        max-width: unset;
    }

    details>div {
        align-items: center;
    }

}